@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

@theme {
    --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
    --color-primary-50: theme("colors.red.50");
    --color-primary-100: theme("colors.red.100");
    --color-primary-200: theme("colors.red.200");
    --color-primary-300: theme("colors.red.300");
    --color-primary-400: theme("colors.red.400");
    --color-primary-500: theme("colors.red.500");
    --color-primary-600: theme("colors.red.600");
    --color-primary-700: theme("colors.red.700");
    --color-primary-800: theme("colors.red.800");
    --color-primary-900: theme("colors.red.900");
    --color-primary-950: theme("colors.red.950");

    --color-maroon-50: #fef2f2;
    --color-maroon-100: #fee2e2;
    --color-maroon-200: #fecaca;
    --color-maroon-300: #fca5a5;
    --color-maroon-400: #f87171;
    --color-maroon-500: #8b1c1c;
    --color-maroon-600: #7a1919;
    --color-maroon-700: #691616;
    --color-maroon-800: #581313;
    --color-maroon-900: #471010;
}

@source '../**/*.blade.php';
@source '../**/*.js';
